<VirtualHost *:80>
    ServerName data.holyskete.com
    ServerAlias www.data.holyskete.com

    DocumentRoot /var/www/project/public
    <Directory /var/www/project/public>
        AllowOverride All
        Order Allow,Deny
        Allow from All
    </Directory>

    # uncomment the following lines if you install assets as symlinks
    # or run into problems when compiling LESS/Sass/CoffeeScript assets
    # <Directory /var/www/project>
    #     Options FollowSymlinks
    # </Directory>

    ErrorLog ~/data.holyskete.com/project_error.log
    CustomLog ~/data.holyskete.com/project_error.log combined
</VirtualHost>